$niceBlack: rgb(33, 36, 41);
$niceBlue: rgb(0, 209, 255);
$niceGray: rgb(195, 197, 203);

.ConnectModal {
    span {
        color: white;
    }

    .connections {
        display: grid;
        gap: 10px;
        padding: 1rem;
    }

    .modal-header {
        color: $niceGray;
        border-bottom: 1px solid $niceGray;
    }

    .modal-content {
        margin: 0px 0px 2rem;
        background-color: $niceBlack;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
            rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.04) 0px 24px 32px;
        border-radius: 30px;
        padding: 0px;
        width: 50vw;
        overflow: hidden;
        align-self: center;
        max-width: 420px;
        max-height: 90vh;
        border-radius: 20px;
    }
}
