$niceGray: rgb(195, 197, 203);
.Vaults {
    overflow-anchor: none;
    padding-bottom: 80px;
    padding: 1rem;

    .vaults-header {
        display: grid;
        grid-template-columns: 210px 110px 160px 140px 200px 1fr;
        font-weight: 600;
        color: $niceGray;
        width: 100%;
        align-items: center;
        text-transform: uppercase;

        div {
            margin-bottom: 10px;
            padding-top: 20px;
            font-size: 17px;
            text-transform: uppercase;
            margin-left: 1rem;
        }
    }
}
